@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.container {
  width: 1170px;
  margin: auto;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.overflow-hidden {
  overflow: hidden;
}
.section {
  padding: 100px 0px;
}
/* navbar styles */
nav {
  background: transparent;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: 0.5s;
}
.sticky {
  background: #0779e4;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

nav a {
  text-decoration: none;
  color: white;
}

nav li {
  list-style: none;
}

.container-wrapper {
  overflow: hidden;
  display: flex;
  line-height: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul.list-group {
  display: flex;
}

ul.list-group li a {
  padding: 30px 15px;
  line-height: 45px;
  font-size: 18px;
  font-weight: 500;
  color: #eaeaea;
  transition: 0.3s;
}

ul.list-group li {
  margin: 0px 10px;
}
.nav-brand {
  height: 80px;
  line-height: 80px;
  font-size: 25px;
  font-weight: 500;
}
ul.list-group li a:hover {
  color: white;
}
/* /navbar styles */

/* intro section styles start */
.intro-section {
  background: url("../images/xbg_1.jpg.pagespeed.ic.LOd_TK0d0a.webp");
  height: 100vh;
  min-height: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  z-index: 0;
}

.intro-wrapper {
  overflow: hidden;
}

.intro-content {
  margin-top: 250px;
}

.top-content .top-span {
  color: #51a0e9;
  background: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  position: relative;
  font-weight: 600;
}

.top-span::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  border: 3px solid white;
  background: white;
  transform: rotate(45deg);
  left: 45%;
  bottom: -5px;
}
.top-content h1 {
  font-size: 45px;
  font-weight: 400;
  color: white;
}

.top-content p {
  width: 614px;
  font-size: 18px;
  line-height: 35px;
  font-weight: 500;
  color: #dadada;
}

button.hire-btn {
  padding: 17px 22px;
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 700;
  background: #0779e4;
  border-radius: 5px;
  font-size: 15px;
}

button.hire-btn:hover {
  box-shadow: 0px 0px 22px 0px #ffffff12;
}

button.view-btn {
  padding: 17px 22px;
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 5px;
  font-weight: 600;
  color: #0779e4;
  margin-left: 10px;
  cursor: pointer;
}

button.view-btn:hover {
  box-shadow: 0px 0px 22px 0px #0779e481;
}
.social-links {
  margin-top: 50px;
}

.social-links a {
  font-weight: 600;
  color: white;
  margin-right: 10px;
  text-decoration: none;
  font-size: 17px;
}
/* intro section styles end */
.main-content {
  display: flex;
  justify-content: space-between;
}
.left-content {
  width: calc(50% - 40px);
  margin: auto;
}
.left-img {
  background: url("../images/xabout.jpg.pagespeed.ic.ROjPXqaKV7.webp");
  width: 464px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 600px;
  position: relative;
}

.right-content {
  width: calc(50% - 40px);
  margin: auto;
}
.btn-all {
  padding: 14px;
  outline: none;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  font-weight: 700;
  color: dimgrey;
}

button.about-btn.btn-all.active {
  background: #0779e4;
  color: white;
  position: relative;
}
button.about-btn.btn-all.active:after {
  position: absolute;
  width: 10px;
  height: 10px;
  content: "";
  background: #0779e4;
  transform: rotate(45deg);
  left: 45%;
  bottom: -5px;
}
.about-content h1 {
  font-size: 44px;
  color: #4a4a4a;
}

.about-content p {
  font-size: 19px;
  line-height: 32px;
  color: #b3b3b3;
}

.about-content h2 {
  font-size: 30px;
  color: #4a4a4a;
  margin-bottom: 40px;
}

.left-content.left-img:before {
  position: absolute;
  content: "";
  width: 200px;
  height: 100px;
  background: #89c4fb;
  bottom: 133px;
  left: -35px;
  z-index: -5;
}

.left-content.left-img:after {
  position: absolute;
  content: "";
  width: 200px;
  height: 100px;
  background: #57abfa;
  bottom: 33px;
  left: -35px;
  z-index: -1;
}

.section-header p {
  text-align: center;
  color: #0779e4;
  text-transform: uppercase;
  font-weight: 600;
}

.section-header h1 {
  text-align: center;
  width: 555px;
  margin: auto;
  position: relative;
  color: #4a4a4a;
  font-size: 40px;
  margin-bottom: 80px;
}
.section-header h1:after {
  position: absolute;
  content: "";
  width: 200px;
  height: 3px;
  background: #0779e4;
  left: 32%;
  bottom: -20%;
}
.services-card {
  display: flex;
  justify-content: space-around;
  margin-bottom: 90px;
}
.card-icon {
  text-align: center;
}

.card-icon i {
  font-size: 40px;
  padding: 20px;
  background: #0779e4;
  color: white;
}

.single-card {
  width: calc(33% - 118px);
}

.single-card .text h2 {
  color: #0779e4;
  font-size: 22px;
  text-align: center;
}

.single-card .text p {
  text-align: center;
  line-height: 30px;
  color: grey;
}

.single-card .text p a {
  color: #0779e4;
  text-decoration: none;
}

.service-footer {
  width: 640px;
  margin: auto;
}

.service-footer p strong a {
  color: #0779e4;
  text-decoration: none;
}

.service-footer p strong {
  color: #656565;
}

.service-footer p {
  color: grey;
  line-height: 30px;
}
/*--------------- all service section style start ---------------*/
.all-service-section {
  background: linear-gradient(#0779e4b0, #0779e4b0),
    url("../images/xbg_3.jpg.pagespeed.ic._5ftKPXrag.webp");
  background-repeat: no-repeat;
  background-position: center;
}
.total-services {
  display: flex;
  justify-content: space-between;
}

.single-service {
  display: flex;
  align-items: center;
  color: white;
}

.service-icon i {
  font-size: 80px;
  color: white;
  margin-right: 20px;
}

.service-body h1 {
  font-size: 50px;
  margin: 10px 0;
}

.service-body p {
  font-weight: 600;
}
.single-content {
  position: relative;
  width: calc(50% - 30px);
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 3s;
  margin-bottom: 35px;
}

.single-content .content-title {
  position: absolute;
  z-index: 1;
  width: 100%;
  visibility: hidden;
  text-align: center;
  padding: 141px 0;
  color: white;
}

.single-content img {
  width: 100%;
  height: 100%;
}

.single-content:hover.single-content .content-title {
  visibility: visible;
  cursor: pointer;
}

.single-content:hover {
  cursor: pointer;
  transition: 5s;
}

.portfolio-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.content-title p {
  font-size: 16px;
}

.content-title h4 {
  font-size: 25px;
  margin-bottom: 20px;
}

.content-title:hover {
  background: linear-gradient(#0779e4de, #0779e4de);
}
/* here  a commit for test */
/*--------------- all service section style end --------------------*/
